/* public/styles/style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #1313c5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ed0000;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  margin: 2px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
